<!doctype HTML>
<html>
  <head>
    <title>OAuth Example</title>
    <style type='text/css'>
      html, body {
        margin:      0;
        padding:     0;
        font-family:  'Helvetica Neue', Arial, sans-serif;
        font-size:   16px;
        line-height: 1.8em;
      }
    </style>
  </head>
  <body>
    <p>
      <% if logged_in? %>
        <a href='/log_out'>log out</a>
        <a href='/api/accounts'>accounts</a>
        <a href='/api/users'>users</a>
        <a href='/api/contacts'>contacts</a>
      <% else %>
        <a href='/log_in'>log in</a>
      <% end %>
    </p>
    <h1>OAuth Example</h1>
    <%= yield %>
  </body>
</html>